tensorflow[and-cuda]
numpy
pandas
scikit-learn
joblib
h5py
flask
flask-cors
werkzeug
Pillow
requests
sentence-transformers
transformers
scipy
spacy==3.8.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
google-cloud-storage
gunicorn
